
*{
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(193, 208, 208);
    color: black;
}

a{
    color: brown;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size: 16px;
    font-weight: bolder;
}

.container{
    margin: 20px;
    padding: 20px;
}

.subfourm{
    margin: 10px;
    background-color: rgb(156, 222, 225);
    padding: 5px;
    border-radius: 10px;
    /* margin: 4px; */
    /* width: 70%; */
}

.subforum-title{
    background-color: rgb(156, 222, 225);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    width: 100%;
    
}

.username{
    background-color: rgb(156, 222, 225);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    width: 100%;
    text-align: center;
    
}

.post{
    background-color: rgb(156, 222, 225);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    width: 100%;
    
}

.reaction{
    background-color: rgb(156, 222, 225);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    width: 10%;
    
}

.comment{
    background-color: rgb(156, 222, 225);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    width: 10%;
    
}

.status{
    background-color:aquamarine;
    padding: 5px;
    border-radius: 10px;
    width: 20%;
    margin: 5px;
    display: grid;
    
}
.fourm{
    display: grid;
    grid-template-columns:70% 25% ;
}

.subforum-discription *{
    margin-block: 0;
}

.subfourm-row{
    display: grid;
    grid-template-columns:10% 40%;
    
}



.subfourm-coloum{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: darkgray;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon {
   font-size: 50px; 
}

 /* for smaller devices */
@media screen and (max-width: 460px){
    .container{
        margin: 10px;
        padding: 10px;
    }

    .subfourm-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }


}

/* for tablets */
@media screen and (min-width: 460px) and (max-width:1024px){
    .container{
        margin: 15px;
        padding: 15px;
    }

    .subfourm-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i{
        font-size: 35px;
    }

    html{
        font-size: 16px;
    }

    h1{
        font-size: 18px;
    }
    
}

/* Navbar */
header{
    margin-inline: 10px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navigation{
    background-color: rgb(86, 165, 147);
    padding: 10px;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin: 10px
}

.nav-list{
    list-style-type: none;
    overflow: hidden;
}

.nav-item a{
    float: right;
    display: block;
    text-align: center;
    margin-inline: 10px;
    font-size: 15px;
    padding: 5px;
    color: floralwhite;

}

.nav-item a:hover{
    background-color: sandybrown;
}

/* search box */
.search-box{
    border: solid 1px firebrick;
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px royalblue;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

.search-box button{
    padding: 10px;
    background-color: white;
    color: black;

}

.search-box button:hover{
    background-color: black;
    color: white;
    box-shadow: 1px 2px 3px white;
}

/* fourm info */
.fourm-info{
    padding: 20px;
    background-color: burlywood;

}

.chart{
    font-size: 20px;
    font-weight: bold;
}


/* ###################################################### */
/* posts.html */

.table-head{
    display: flex;

}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: aliceblue;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subject{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* table body */
.table-row{
    display: flex;
}

.table-row .status, .table-row .subject, .table-row .replies, .table-row .last-reply {
    padding: 5px;
    margin: 2px;
    background-color: navajowhite;
}

.table-row .status{
    flex: 5%;
    font-size: 20px;
    text-align: center;
}

.table-row .subject{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/* pagination */
.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: black;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px brown;
}

.pagination a:hover{
    opacity: 0.5;
}

/* login and signup  */
.form input{
    min-width: 400px;
    display: block;
    margin: 20px;
    padding: 15px 20px;
    background-color: azure;
    font-size: 20px;
    border: none;
    outline: none;
    box-shadow: 15px 15px 25px #a8a8a8;
    transition: box-shadow 0.5s;
}

/* .form */
